
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* nav style */
.nav-parent{
    display: flex;
    justify-content: space-between;
   
}
.nav-bg{
  background-image: url('Hero-bg.png');
  background-position: center;
  width:1440px;
  height: 698px;
  padding :40px;

}
.nav-title{
    font-size: 34px;
    font-weight: 99px;
    color: #4E47FF;
    font-weight:900;
}
.nav-description{
  text-align: center;
  font-size: 70px;
  font-weight: 800;
  margin :250px 265px ;

}
/* banner style */
.main-description{
  text-align: center;
 
}
.stay-btn{
 position: relative;
 top: -250px;

}
.btn{
   background-color: #4E47FF;
   color: white;
   border: none;
   margin:30px 10px;
   font-size: 18px;
   font-weight: bold;
   padding: 12px 36px;
   border-radius: 10px;
}
/* action section */
.actions{
  display: flex;
  justify-content: space-around;
  margin:30px;
  align-items: center;
}
.action-parent{
  margin-left: 130px;
}
.text-title{
  font-size:45px;
  font-weight:700;
  gap: 10px;
}
.text-subtitle{
  font-size: 24px;
  font-weight:600;
  margin-top: 0;
  padding-right:360px ;
  color: #282734;
}
.launch-btn{
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: -50px;
}
.wc-img{
  border-radius: 45px;
  margin: 80px;
}
/* user section */
.user-section{
  background-color: #d2d1ef;
  padding: 0px  140px;
  margin: 60px 170px;
  text-align: center;
  border-radius: 20px;
 
}
.user-title{
 
  font-size: 40px;
  font-weight: bold;
  margin-bottom:100px;
  text-align: center;
  position: relative;
  bottom:-100px;
}
.about-items{
  display: flex;
  gap: 200px;
  margin-right: 50px;
  position: relative;
  top: -30px;
}
.item-title{
  font-size: 80px;
  font-weight: 800;
  color: #4E47FF;

}
.item-description{

  font-size: 20px;
  font-weight: 600;
  position: relative;
  bottom: -120;
  color: #414048;
  position: relative;
  top: -80px;
}

/* person style */
.user-header{
  font-size: 45px;
  font-weight: 800;
  text-align: center;
  position: relative;
  bottom:-150px;

}
.user-info{
  display: flex;
  margin: 200px 200px 280px 210px;
  text-align: center;
  font-size: 18px;
  color: #757575;

    
}
.review-card{
  margin: 50px 50px 112px -40px ;
  padding: 24px 24px;
  box-shadow:0px 6px 50px rgb(195, 186, 186);

  text-align: left;
  border-radius: 20px;

}
.title{
  font-size:25px;
  font-weight: 700;
  margin-top:20px;
}
.quote{
  font-size:18px;
  font-weight: 400px;
  margin-top: 15px;

}
.avatar{
  width: 40px;
  height:40px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
}
.reviewer-info{
  position: relative;
  bottom:70px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  gap: 10px;

}
.name{
  font-size: 18px;
  font-weight: bold;
}
.date{
  font-size: 14px;
  margin-top:50px;
  position: relative;
  left:-140px;
}
/* 2nd-banner */
.banner-title{
  font-size: 55px;
  font-weight: 700;
  text-align: center;
}
